.tsv-pleystein {
    background: red !important;
    color: white !important;
}

.pure-menu-heading {
    color: white;
}

.content {
    margin-top: 35px;
}

.pure-g > div {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.l-box {
    padding: 1em;
}

.sponsor-footer {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 100%;
    margin-top: 24px;
}
