<mat-toolbar class="tsv-colors">
  <span>TSV Pleystein 2.Mannschaft</span>
</mat-toolbar>

<div fxLayout="row"
     fxLayout.lt-md="column"
     fxLayoutGap="24px">

  <div fxFlex="70" fxFlex.lt-md="100">
    <iframe frameBorder='0'
            src='https://www.fupa.net/fupa/widget.php?p=iframe_widget&typ=team&value_id=691407&div_id=widget_5da0964c44300&start=tabelle&header=0&navi=0'
            style='width:100%;height:600px;'></iframe>
  </div>

  <div fxFlex="30" fxFlex.lt-md="100">

    <iframe frameBorder='0'
            src='https://www.fupa.net/fupa/widget.php?p=iframe_widget&typ=team&value_id=691407&div_id=widget_5da09ca9ba429&start=liveticker&header=0&navi=0'
            style='width:100%;height:180px;'></iframe>

    <iframe frameBorder='0'
            src='https://www.fupa.net/fupa/widget.php?p=iframe_widget&typ=liga&value_id=74566&div_id=widget_74566&start=spieltag&header=0&navi=0&module_liga=0&start_liga=0&spieltag_liga=0'
            style='width:100%;height:600px;'></iframe>
  </div>

</div>
